# Telegram
TELEGRAM_BOT_TOKEN=1234567890:AA...your_token...

# Weeek
WEEEK_API_KEY=<-------add your token here ---------->
WEEEK_BASE_URL=https://api.weeek.net/public/v1
WEEEK_TASKS_ENDPOINT=/tm/tasks3

# Fixed fields from the spec
WEEEK_USER_ID=<-------add your user ID here ---------->
WEEEK_PROJECT_ID=<-------add your project ID here ---------->
WEEEK_BOARD_COLUMN_ID=<-------add your collumn ID here ---------->

# Optional filters
# Список username бота-транскрайбера (без @), через запятую. Пример: GigaChatBot
ALLOWED_TRANSCRIBER_BOT_USERNAMES=<-------add bot name here ---------->
# Разрешенные ID чатов (через запятую), если нужно привязать к конкретной группе
ALLOWED_CHAT_IDS=-97394793

# Timezone for "next day" date
SERVER_TZ=Europe/Moscow

# Optional
TITLE_MAX_LEN=255
LOG_LEVEL=INFO
